<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*Chèn link css của free template download *@
    <link href="~/Content/NguoiDungCssLayout/fonts.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungCssLayout/screen.css" rel="stylesheet" />
    @*Chèn css thiết kế *@
    <link href="~/Content/NguoiDungCssLayout/NguoiDungCssLayout.css" rel="stylesheet" />
    @*Chèn css font ký tự *@
    <link href="~/Content/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    @*Chèn link nivo slider*@
    <link href="~/NivoSlider/nivo-slider.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/NivoSlider/jquery.nivo.slider.js"></script>
    <script src="~/NivoSlider/jquery.nivo.slider.pack.js"></script>
    <link href="~/Content/TrangChuCss.css" rel="stylesheet" />
    <link href="~/Content/ChiTietSanPham.css" rel="stylesheet" />
</head>

<body>
    <div id="ToanTrang">
        <section class="blank">
            <div class="flash">
                <div class="icDienThoai">
                    <i class="fa fa-phone"></i>
                    (08) 1900-1560
                </div>
                @*Tạo div đăng ký đăng nhập*@
                <div class="DangKyDangNhap">
                    @{ 
                        Html.RenderAction("GioHangPartial", "GioHang");
                    }
                    <i class="fa fa-sign-in"></i>
                    @Html.ActionLink("Đăng ký", "DangKy", "NguoiDung", null, htmlAttributes: new { @class = "DangKy" })
                    <i class="fa fa-unlock"></i>
                    @Html.ActionLink("Đăng nhập", "DangNhap", "NguoiDung", null, htmlAttributes: new { @class = "DangNhap" })

                </div>
            </div>

            @*Xây dựng div menu header*@

            <div style="background-color: #426db5" class="flash success" id="divDanhMuc">
                @*Hộp thoại tìm kiếm*@
                <div id="txtTimKiem">
                    @using (Html.BeginForm("SearchResults", "Search", FormMethod.Post))
                    {
                        @Html.TextBox("search", "", htmlAttributes: new { @class = "TextBoxTimKiem", @placeholder = "Nhập vào từ khóa cần tìm ..." })
                        @*Chèn vào image button hình ảnh*@
                        <div id="divHinhAnhTimKiem">
                            <button type="submit"><img src="~/Images/imgSearch.png" /> </button>
                        </div>
                    }

                </div>
                @*Menu bên phải header*@
                <ul class="navMenu">
                    <li>
                        <a href="@Url.Action("Index","Home")">Trang chủ</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Laptop", "Laptop")">Laptop</a>
                    <li>
                        <a href="@Url.Action("Phone", "Phone")">Điện thoại</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Tablet", "Tablet")">Tablet</a>
                    </li>
                </ul>
            </div>
        </section>

        <section id="divMenuSlider">
            @*Chèn div nivoslider*@
            <div id="slider" class="nivoSlider">
                <img src="~/Images/image_2.jpg" />
                <img src="~/Images/image_3.jpg" />
            </div>
            <div style="clear:both"></div>
        </section>

        <div id="NoiDung">
            @RenderBody()
        </div>

    </div>
    @*Script Chạy nivoslider*@
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider({
                controlNav: false,
                nextText: '',
                prevText: ''
            });
        });
    </script>
</body>

</html>
