@model ThietBiOnline.Models.EF.Laptop
@{
    ViewBag.Title = "ChiTietLaptop";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@if (Model != null)
{
    <div id="divChiTietSanPham">
        <img src="@Url.Content("~/Images/"+ Model.HinhAnhSanPham)" alt="@Model.TenSanPham" />
        <h1>@Model.TenSanPham</h1>
        <p>
            <button type="submit" style="cursor: pointer;">
                <strong>
                    MUA NGAY GIÁ @String.Format("{0:0,0}", Model.GiaSanPham)
                </strong>
                <i class="fa fa-shopping-cart" style="font-size:24px"></i>
            </button>
        </p>

        <aside class="right-content">
            <div class="tableparameter">
                <h2>Thông số kỹ thuật</h2>
                <ul class="parameter">
                    <li>
                        <strong>CPU:</strong>
                        &nbsp; @Model.CPU
                    </li>
                    <li>
                        <strong>RAM:</strong>
                        &nbsp; @Model.RAM
                    </li>
                    <li>
                        <strong>Ổ cứng:</strong>
                        &nbsp; @Model.HardDrive
                    </li>
                    <li>
                        <strong>Màn hình:</strong>
                        &nbsp; @Model.ManHinh
                    </li>
                    <li>
                        <strong>Card màn hình:</strong>
                        &nbsp; @Model.VGA
                    </li>
                    <li>
                        <strong>Cổng kết nối:</strong>
                        &nbsp; @Model.Connection
                    </li>
                    <li>
                        <strong>Trọng lượng:</strong>
                        &nbsp; @Model.Nang kg
                    </li>
                </ul>
            </div>
        </aside>
    </div>
}


