@model ThietBiOnline.Models.EF.Phone

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Phone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnhSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnhSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTaSanPham)
        </dt>

        <dd>
            @Html.Raw(@Model.MoTaSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDLoaiSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDLoaiSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManHinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManHinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CameraTruoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CameraTruoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CameraSau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CameraSau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoNhoTrong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoNhoTrong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HDH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HDH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Phone")
</p>
